<h1>Por País</h1>
<hr>


<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()">
            <input type="text" name="termino" placeholder="Buscar País" class="form-control" [(ngModel)]="termino" autocomplete="off">
        </form>
    </div>
</div>

<hr>
<div class="alert alert-danger">No se enotro nada con el termino ABDSD</div>


<div class="row">
    <div class="col">

        <table class="table table-hover">
            <thead>

                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <td>1</td>
                <td>bandera</td>

                <td>Nombre</td>

                <td>112331</td>
                <td>
                    <a href="">Ver...</a>
                </td>
            </tbody>


        </table>
    </div>
</div>